<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <!--*****DOES NOT NEED CONTROLLERS.JS OR APP.JS REFERENCE, INDEX.HTML REFERENCE TAKES CARE OF IT?-->
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <!--references the angular route js file after bower installation-->
    <script src="bower_components/angular-route/angular-route.js"></script>
</head>
<body>
    TBD: detail view for <span>{{phoneId}}</span>
</body>
</html>