<!--sets the large image to the variable in the controller-->

<img ng-src="{{mainImageUrl}}" class="phone">

<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

<dl class="phone-thumbs">
    <!--do the repeat on the images portion of the phone object, pull from there-->
    <dt ng-repeat="img in phone.images">
        <!--passes the src for the image you selected into the function that displays the large image-->
        <img ng-src="{{img}}" ng-click="setImage(img)">
    </dt>
</dl>

<dl class="specs">
    <span>Availability and Networks</span>
    <dt ng-repeat="availability in phone.availability"> {{availability}}</dt><br>
    <span>Additional Features</span>
    <dt>{{phone.additionalFeatures}}</dt><br>
    <dt>Infrared: {{phone.connectivity.infrared | checkmark}} </dt><br>
    <dt>GPS: {{phone.connectivity.gps | checkmark}} </dt>
</dl>