<img ng-src="{{phone.images[0]}}" class="phone">

<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

<dl class="phone-thumbs">
    <!--do the repeat on the images portion of the phone object, pull from there-->
    <dt ng-repeat="img in phone.images">
        <img ng-src="{{img}}">
    </dt>
</dl>

<dl class="specs">
    <span>Availability and Networks</span>
    <dt ng-repeat="availability in phone.availability"> {{availability}}</dt><br>
    <span>Additional Features</span>
    <dt>{{phone.additionalFeatures}}</dt><br>
    <dt>Infrared: {{phone.connectivity.infrared | checkmark}} </dt><br>
    <dt>GPS: {{phone.connectivity.gps | checkmark}} </dt>
</dl>