<body ng-controller="PhoneListCtrl">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-2">
        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
            <option value="-age">Oldest</option>
        </select>
    </div>
    <div class="col-md-10">

        <!--Content body, with phone thumbs and links-->
        <dl class="phones">
            <dd ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a><br>
                <a href="#/phones/{{phone.id}}"><strong>{{phone.name}}</strong></a>
                <p>{{phone.snippet}}</p>
            </dd>
        </dl>
    </div>
    </div>
    </div>
</body>